@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:600,700&display=swap');


* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at 50% 10%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: #fff;
    font-family: 'Barlow Semi condensed', 'sans-serif';
    min-height: 100vh;
}

.container {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 50px 0;
}

h1{
    font-size: 3rem;
    margin: 0;
    display: flex;
    line-height:0.8;

    flex-direction: column;
    text-transform: uppercase;
}
h2{
    letter-spacing: 2px;
    text-transform: uppercase;
}

h4{
    color: hsl(229, 64%, 46%);
    margin: 0;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.score-container{
    background-color: #fff;
    border-radius:10 px;
    padding: 20px 40px;
    text-align: center;
}

.score-container p{
    color: hsl(229, 25%, 31%);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}
main {
    /* background-color: #fff; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}

.btn-circle{
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
    margin: 0 25px;
    width: 150px;
    height: 150px;
}
.button:focus {
    outline: none;
}
.btn-circle:active{
    transform: scale(0.9);
}
.btn-circle .image-wrapper{
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0 5px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    
}
.btn-paper{
    background: linear-gradient(
        to bottom,
        hsl(230, 89%, 62%),
        hsl(230, 89%, 65%)
        );
    
}
.btn-scissors{
    background: linear-gradient(
        to bottom,
        hsl(39, 89%, 49%),
        hsl(40, 84%, 53%)
        );

}
.btn-rock{
    background: linear-gradient(
        to bottom,
        hsl(349, 71%, 52%),
        hsl(349, 70%, 56%)
        );
    
}
.btn-rules {
    bottom: 30px;
    right: 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-family: inherit;
    padding: 10px 25px;
    position: fixed;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btn{
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    color: hsl(229, 25%, 31%);
    font-size: 20px;
    font-family: inherit;
    padding: 10px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.selection {
    display: None;
    font-weight: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;

}
.selection .btn-circle {
    margin: 50px 100px;
    transform: scale(1.4);
}
.big-text {
    font-size: 3rem;
    margin: 0 0 20px;
    line-height:0.8;
    text-transform: uppercase;
}

.rules-modal{
    background-color: #f0f0f0;
    display: None;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.rules-modal  button{
    border: none;
    background-color:transparent;
    transition:scale(1.5);
    cursor: pointer;
    margin-top: 40px;
}

@media (max-width:900px) {
    .selection .btn-circle {
        margin: 50px 20px;
        transform: scale(1);
    }
    .go-down {
        order:1;
    }
    .selection {
        width: 500px;
    }
}